.banner {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #021031), 
                url("./img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}

.banner .socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 3%;
}

.banner .line {
  width: 2px;
  height: 20%;
  background-color: white;
  margin-bottom: 20px;
}

.banner .icons img {
  display: block;
}

.banner .content .title {
  margin-top: 100px;
  font-weight: bold;
  letter-spacing: 3px;
  position: relative;
}

.banner .horizontal-line {
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: white;
  margin-left: 70px;
}

.banner .content .info {
  margin-top: 75px;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

nav .menu {
  display: flex;
}

.banner .menu-logo {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}

.banner .menu-small-icon {
    
    display: none;
}

.banner .menu-small-icon .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
 

  left: 3%;
}

.banner .menu-small-icon .lines {
  width: 2px;
  height: 60px;
  background-color: white;
  margin-top: 20px;
}

.banner .menu-small-icon .icons img {
  display: block;
}

nav .menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 9px;
  color: var(--gray);
  cursor: pointer;
}

nav .menu ul li {
  margin: 0 30px;
  font-size: var(--f26);
  color: white;
}

nav .hamburger-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}



/* Service */

.white {
  color: white;
}

.light-blue {
  color: #3fd8be;
}

.service {
  background-color: #021031;
  padding-bottom: 75px;
  position: relative;
}

.service .titletop {
  color: white;
  font-size: var(--f48);
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 75px;
}

.service .hr {
  display: flex;
  justify-content: center;
}

.service .hr hr {
  border: none;
  height: 3px;
  background-color: #3fd8be;
  width: 7%;
  position: absolute;
  top: 55px;
}

.service .card img {
  border-radius: 15px;
  height: 200px;
  width: 400px;
}

.service .card .title {
  color: white;
  font-size: var(--f26); /* Lettergrootte */
  line-height: 1.6em; /* Regelhoogte */
  font-weight: 600; /* Letterdikte */
  font-family: 'Outfit', sans-serif; /* Lettertype */
  text-decoration: underline;
  padding: 20px 0;
}

.service .card .text {
  color: var(--gray);
  line-height: 1.5;
}

.service .card .text-bottom {
  border-bottom: 2px solid hsl(215, 32%, 27%);
  padding: 20px 0;
}
.service .card {
  background-color: #14253D;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.2); /* Mooie schaduw */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animatie voor hover-effect */
}

.service .card:hover {
  transform: translateY(-5px); /* Laat de kaart iets omhoog komen bij hover */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4), 0 6px 8px rgba(0, 0, 0, 0.3); /* Versterk de schaduw bij hover */
}
.service .card .small-image {
    width: 1.2em;
    margin-right: .5em;
}

/* .service .card .title-experience {
  color: white;
} */

.service .card .text-experience {
  color: white;
}



.projecten {
    position: relative; /* Zorgt ervoor dat het pseudo-element correct wordt geplaatst */
    background-image: none; /* Verwijder de achtergrondafbeelding van de hoofdcontainer */
}

.projecten::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #021031), 
                url("./img/updated2 1 (5).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transform: rotate(180deg) scaleY(-1); /* Draait en spiegelt de afbeelding */
    z-index: -1; /* Zorgt ervoor dat het pseudo-element achter de inhoud staat */
}

.projecten .img {
  width: 50%;

}

.projecten .img:hover {
  box-shadow: rgba(149, 157, 165, 0.515) 0px 8px 24px;
}

.projecten .info {
  width: 50%;
  margin-left: 40px;
  position: relative;
}

.projecten .content {
  display: flex;
  padding-top: 70px;
}

.projecten .projectTitle {
  font-size: var(--f48);
  justify-content: left;
  gap: 10px;
  text-align: left;
  flex-wrap: wrap;
}

.projecten .projectName {
  font-size: var(--f48);
  font-weight: 600;
  padding: 10px;
}

.recentProject {
  margin-left: 40px;
}

.projecten .hr {
  display: flex;
  width: 6%;
}

.projecten .hr hr {
  border: none;
  height: 3px;
  background-color: white;
  width: 100%;
}

.projectText {
  margin-left: 40px;
  font-size: var(--f18);
  padding-top: 20px;
}

.projecten .wrap {
    position: relative; 
}

.cross2 {
    font-size: 70px;
    margin-top: 20px;
    position: absolute; 
    top: 120px;
    right: 20px; 
}

.cross {
    font-weight: 100;
}

.cross3 {
    font-size: 30px;
    position: absolute;
    bottom: 0;
}
.menu-list {
  list-style: none; /* Verwijdert bolletjes */
  padding: 0;
  margin: 0;
}

.menu-list .li {
  display: inline-block; /* Als je ze horizontaal naast elkaar wil */
  margin-right: 20px;
}

.menu-list a {
  text-decoration: none; /* Verwijdert onderstreping */
  color: inherit; /* Gebruikt de tekstkleur van de ouder, bijv. zwart */
}